.aff-image-content .has-border {
    border: solid 1px black;
}
.aff-image-content .left-aligned {
    text-align: left;
}
.aff-image-content .center-aligned {
    text-align: center;
}
.aff-image-content .right-aligned {
    text-align: right;
}
.aff-image-figure {
    max-width: 100%;
}
.aff-image-figure img {
    max-width: 100%;
}
.aff-image-figure figcaption {
    color: #525252;
}
.aff-image-setting i {
    margin: 8px auto;
}